.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: #ebeef5;
}

.player-container__controls-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 260px;
  transition-duration: .5s;
  background-color: #42b983;
  box-shadow: 0 60px 0 0 #42b983;

  &--hidden {
    transform: translateY(-40%);
  }
}

.player-container__search-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  transition-duration: .5s;
  background-color: #42b983;

  &--active {
    margin-top: calc(-260px);
  }
}

.player-container__tracklist-wrap {
  position: relative;
  z-index: 2;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  width: 100%;
  min-height: calc(60px * 3);
  transform: translateZ(0); // фикс дерганного рендера анимации safari
  background-color: #ebeef5;
}
