<!-- player-container -->
<section class="player-container">
  <header
    :class="{
      'player-container__controls-wrap': true,
      'player-container__controls-wrap--hidden': isFocusOnSearch
    }"
  >

    <slot name="controls"></slot>

  </header>
  <section
    :class="{
      'player-container__search-wrap': true,
      'player-container__search-wrap--active': isFocusOnSearch
    }"
  >

    <slot name="search"></slot>

  </section>
  <main class="player-container__tracklist-wrap">

    <slot name="tracklist"></slot>

  </main>
</section>
<!-- /player-container -->