{% extends "layouts/main.htm" %}

{% set page = {
  title: "Vue player",
  description: "JetRuby test task | Vue player",
  keywords: "JetRuby, test, task, Vue, player"
} %}

{% block page %}

<player-container>
  <player-controls slot="controls"></player-controls>
  <player-search slot="search"></player-search>
  <player-tracklist slot="tracklist"></player-tracklist>
</player-container>

{% endblock %}