.player-search {
  position: relative;
  width: 100%;
  background-color: #42b983;
}

.player-search__content-wrap {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-image: linear-gradient(
      to left,
      #42b983,
      color(#fff alpha(.3)) 20%,
      color(#fff alpha(.3)) 80%,
      #42b983
    );
  }
}

.player-search__field {
  height: 60px;
  padding: 0 60px 0 10px;
  color: color(#fff alpha(.8));
  font-size: 14px;
  font-weight: 100;
  caret-color: currentColor;

  &::placeholder {
    color: color(#fff alpha(.8));
    font-size: 14px;

    @nest :focus& {
      color: transparent;
    }
  }
}

.player-search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  pointer-events: none;
  opacity: .8;
  background-image: url('../images/player-search.search.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: calc(100% - 10px) auto;

  &:hover {
    opacity: 1;
  }

  &--active {
    pointer-events: initial;
    background-image: url('../images/player-search.close.svg');
  }
}
