<!-- player-search -->
<section class="player-search">
  <div class="player-search__content-wrap">
    <input
      class="player-search__field"
      type="search"
      placeholder="Search for artists or tracks"
      v-model="message"
      @focus="setFocusOnSearchState(true)"
    >
    <button
      :class="{
        'player-search__button': true,
        'player-search__button--active': isFocusOnSearch === true
      }"
      type="button"
      @click="
        setFocusOnSearchState(false);
        updateQuery('');
      "
    >

    </button>
  </div>
</section>
<!-- /player-search -->