{% set head = {
  url:   "https://jetruby-test-task.gitlab.io/vue-player",
  color: "#42b983",
  name:  "Vue player"
} %}

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Meta tags -->
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">

<!-- Prefetch -->
{# <link rel="dns-prefetch" href="//fonts.googleapis.com/"> #}

<!-- Preload -->
<link rel="preload" href="assets/scripts/vendor.js" as="script">
<link rel="preload" href="assets/scripts/app.js" as="script">

<!-- Prerender -->
{# <link rel="prerender" href="{{ head.url }}"> #}

<!-- Fonts -->

<!-- Styles -->
<link href="assets/styles/vendor.css" rel="stylesheet">
<link href="assets/styles/app.css" rel="stylesheet">

<!-- Icons -->
<link rel="shortcut icon" href="assets/icons/favicon.ico" />
<meta name="application-name" content="{{ head.name }}">
<meta name="msapplication-TileColor" content="{{ head.color }}">
<meta name="msapplication-TileImage" content="assets/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="assets/icons/mstile-70x70.png">
<meta name="msapplication-square150x150logo" content="assets/icons/mstile-150x150.png">
<meta name="msapplication-wide310x150logo" content="assets/icons/mstile-310x150.png">
<meta name="msapplication-square310x310logo" content="assets/icons/mstile-310x310.png">
<link rel="icon" type="image/png" sizes="128x128" href="assets/icons/favicon-128.png">
<link rel="icon" type="image/png" sizes="196x196" href="assets/icons/favicon-196x196.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/icons/apple-touch-icon-152x152.png">

<!-- Manifest -->
<link rel="manifest" href="manifest.json">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />

<!-- Open Graph -->
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ head.url }}/assets/icons/mstile-310x150.png">
<meta property="og:locale" content="ru_RU">
<meta property="og:site_name" content="{{ head.name }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ head.url }}">

<!-- Verifications -->