<!-- player-controls -->
<section
  class="player-controls"
  id="player-controls"
  :data-particles="audio.playState"
>
  <audio
    :src="audio.src"
    id="player-controls-audio"
    type="audio/mp3"
    preload="auto"
    @timeupdate="setAudioState({currentTime: audio.el.currentTime})"
    hidden
  ></audio>
  <div class="player-controls__content-wrap">
    <figure
      :class="{
        'player-controls__info': true,
        'player-controls__info--empty': currentTrackId === null
      }"
    >
      <header class="player-controls__info-header">
        <transition-group
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <template v-if="currentTrackId !== null">
            <p class="player-controls__info-header-artist" key="artist">
              {{ tracklist[currentTrackId].metadata.tags.artist }}
            </p>
            <p class="player-controls__info-header-track" key="track">
              {{ tracklist[currentTrackId].metadata.tags.title }}
            </p>
          </template>
        </transition-group>
      </header>
    </figure>
    <nav class="player-controls__nav">
      <div class="player-controls__nav-buttons-wrap">
        <button
          :class="{
            'player-controls__nav-button': true,
            'player-controls__nav-button--type--prev': true
          }"
          type="button"
          @click="changeTrack('prev')"
        >Prev</button>
        <button
          :class="{
            'player-controls__nav-button': true,
            'player-controls__nav-button--type--play': !audio.playState,
            'player-controls__nav-button--type--pause': audio.playState
          }"
          @click="
            currentTrackId === null ? setCurrentTrackId(0) : false;
            setAudioState({playState: !audio.playState})
          "
          type="button"
        >Play</button>
        <button
          :class="{
            'player-controls__nav-button': true,
            'player-controls__nav-button--type--next': true
          }"
          type="button"
          @click="changeTrack('next')"
        >Next</button>
      </div>
      <div class="player-controls__nav-indicators-wrap">
        <figure class="player-controls__diration">
          <span class="player-controls__diration-count">
            {{ currentTrackId !== null ? $options.filters.formatDuration(audio.el.currentTime) : '--:--' }}
          </span>
          <input
            class="player-controls__range"
            type="range"
            v-model="audio.currentTime"
            min="0"
            :max="audio.duration ? audio.duration : 0"
            step="1"
            @input="setAudioState({userSetTime: audio.currentTime});"
          >
          <span class="player-controls__diration-count">
            {{ currentTrackId !== null ? $options.filters.formatDuration(audio.duration) : '--:--' }}
          </span>
        </figure>
        <figure class="player-controls__volume">
          <button
            :class="{
              'player-controls__volume-button': true,
              'player-controls__volume-button--mute': audio.mute,
            }"
            type="button"
            @click="setAudioState({mute: !audio.mute});"
          ></button>
          <input
            class="player-controls__range"
            type="range"
            min="0"
            max="1"
            v-model="audio.volume"
            step="any"
          >
         </figure>
      </div>
    </nav>
  </div>
</section>
<!-- /player-controls -->