<!DOCTYPE html>

<html lang="ru" data-layout="main">

  <head>

    {% include "partials/head.htm" %}

  </head>

  <body>

    <div
      id="app"
      class="app"
      :data-browser="device.browser"
      :data-browser-version="device.browserVersion"
      :data-browser-engine="device.browserEngine"
      :data-device-type="device.type"
      :data-os="device.os"
      :data-os-version="device.osVersion"
      :data-no-scroll="noScroll"
    >

      {% block page %}{% endblock %}

    </div>

    {% include "partials/scripts.htm" %}

  </body>

</html>