.player-tracklist {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 100vw;
  background-color: #ebeef5;

  &.ps {
    & .ps__rail-y {
      z-index: 999;
    }

    & .ps__rail-x {
      z-index: 999;
    }
  }

  @nest [data-browser='Firefox'] & {
    height: 100%;
  }
}

.player-tracklist__preloader {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.player-tracklist__preloader-image {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  animation-name: playerTracklistPreloaderImage;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-image: url('../images/player-tracklist.preloader.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes playerTracklistPreloaderImage {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.player-tracklist__preloader-text {
  opacity: .2;
  color: #000;
  font-size: 14px;
}

.player-tracklist__items {
  position: relative;
  z-index: 2;
  align-self: flex-start;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  list-style: none;
  background-color: #ebeef5;
}

.player-tracklist__item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  transition-duration: .3s;
  animation-duration: .3s;
  white-space: nowrap;
  color: #ebeef5;
  background-color: currentColor;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;

  &:active {
    transform: scale(.98);
  }

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    width: 0;
    height: 100%;
    content: '';
    transition-duration: 3s;
    transition-property: width, background-color;
    pointer-events: none;

    @nest :hover& {
      width: 200%;
    }
  }

  &::before {
    left: 0;
    transform: translateX(calc(-100% + 1px));
    background-image: linear-gradient(to left, currentColor, #ebeef5);
  }

  &::after {
    right: 0;
    transform: translateX(calc(100% - 1px));
    background-image: linear-gradient(to right, currentColor, #ebeef5);
  }

  &:not([class*='animated']) {
    z-index: 1;
  }

  &:hover {
    color: color(#fff alpha(.4));
  }

  &--active {
    color: #fff;

    &:hover {
      color: #fff;
    }

    &::before,
    &::after {
      width: 200%;
      background-color: currentColor;
    }
  }
}

.player-tracklist__item-artist {
  position: relative;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  width: calc(.4 * (100% - 80px));
  margin-right: auto;
  padding: 0 10px;
  text-overflow: ellipsis;
  color: var(--App__color--text);
}

.player-tracklist__item-title {
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  width: calc(.6 * (100% - 80px));
  padding: 0 10px;
  text-overflow: ellipsis;
  color: var(--App__color--text);
}

.player-tracklist__item-duration {
  display: block;
  flex-shrink: 0;
  min-width: 80px;
  margin-left: auto;
  padding: 0 10px;
  text-align: right;
  color: var(--App__color--text);
}

.player-tracklist__no-results {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation-duration: .3s;
  background-color: #ebeef5;
}

.player-tracklist__no-results-text {
  padding-top: 80px;
  text-align: center;
  letter-spacing: 1px;
  opacity: .4;
  background-image: url('../images/player-tracklist.no-results.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 60px;
  font-size: 14px;
  font-weight: 300;
}
