<!-- player-tracklist -->
<section class="player-tracklist" data-scrollbar>
  <figure class="player-tracklist__preloader">
    <span class="player-tracklist__preloader-image"></span>
    <p class="player-tracklist__preloader-text">Loading...</p>
  </figure>
  <transition-group
    class="player-tracklist__items"
    enter-active-class="animated fadeInUp"
    leave-active-class="animated fadeOutUp"
    @after-leave="scrollbar.update();"
    tag="ul"
  >
    <li
      :class="{
        'player-tracklist__item': true,
        'player-tracklist__item--active':
          currentTrackId !== null &&
          tracklist[currentTrackId].link === item.link
      }"
      v-for="item, index in filteredTracklist"
      v-if="Object.keys(item.metadata).length"
      @click="
        setCurrentTrackId(findIndexInTracklist(index));
        findIndexInTracklist(index) === currentTrackId
          ? setAudioState({ playState: !audio.playState })
          : false;
      "
      :key="index"
    >
      <span class="player-tracklist__item-artist">
        {{ item.metadata.tags.artist }}
      </span>
      <span class="player-tracklist__item-title">
        {{ item.metadata.tags.title }}
      </span>
      <span class="player-tracklist__item-duration">
        <template
          v-if="
            currentTrackId !== null &&
            tracklist[currentTrackId].link === item.link
          ">
          {{ (item.duration - audio.currentTime) | formatDuration }}
        </template>
        <template v-else>{{ item.duration | formatDuration }}</template>
      </span>
    </li>
  </transition-group>
  <transition
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <figure
      class="player-tracklist__no-results"
      v-if="!filteredTracklist.length"
      key="empty"
    >
      <span class="player-tracklist__no-results-text">Nothing found</span>
    </figure>
  </transition>
</section>
<!-- /player-tracklist -->